.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
  width: 300px;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Центрування по вертикалі та горизонталі */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
