.closeModalBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  color: gray;
  background-color: white;
}

.closeModalBtn:hover,
.closeModalBtn:focus {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  /* gap: 25px; */
}

.submitBtn {
  position: absolute;
  top: 10px;
  right: 55px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.deleteTaskBnt {
  position: absolute;
  top: 10px;
  left: 15px;
  border: none;
  padding: 5px;
  height: 35px;
  width: 35px;
  font-size: 16px;
  border-radius: 4px;
  border-color: red;
  color: red;
}

.listCheckbox {
  display: flex;
  align-items: center;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 4px 8px;
  background-color: #f0f0f0;
  border-radius: 6px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDot {
  margin-right: 5px;
}

.newListItem {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-left: 25px;
}

.addListItemBtn {
  height: 33px;
  width: 33px;
  padding: 6px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.addListItemBtn:hover,
.addListItemBtn:focus {
  background-color: #43a047;
}

.deleteItemBtn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.deleteItemBtn:hover,
.deleteItemBtn:focus {
  color: red;
}

.group {
  margin-bottom: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input,
.select {
  padding: 8px;
  margin-top: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorText {
  color: red;
  font-size: 12px;
}

.winkTypeGroup {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 15px;
}

.winkTypeOption {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 4px;
  border-radius: 12px;
  transition: border-color 0.3s, background-color 0.3s;
}

.winkTypeOption img {
  width: 50px;
  height: 50px;
  display: block;
}

.winkTypeOption:hover {
  border-color: #888;
}

.selected {
  border-color: #4caf50;
  background-color: rgba(76, 175, 80, 0.2);
}

.hiddenRadio {
  display: none;
}
