.containerNewComment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.activeContainer {
  background-color: rgb(235, 240, 238);
  padding: 5px;
}

.inputNewComment {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnNewComment {
  padding: 8px 12px;
  background-color: rgb(177, 217, 252);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.textNoReviews {
  color: red;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item {
  display: flex;
  justify-content: space-between;

  background-color: aquamarine;
  padding: 10px;
  border-radius: 8px;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.editBtn,
.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
}

.editBtn {
  background-color: #f0f0aa;
}

.deleteBtn {
  background-color: #f9bcbc;
}

.error {
  color: red;
}

.success {
  color: green;
}

.btnDelete {
  background-color: rgb(240, 194, 194);
  height: 30px;
  width: 30px;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
