.pageWrapper {
  display: flex; /* ВАЖЛИВО: щоб фільтри і контент були поряд */
  align-items: flex-start;
  gap: 20px; /* Відстань між фільтрами і списком завдань */
}

.contentWrapper {
  flex-grow: 1; /* Займає весь доступний простір */
  margin: 0 20px 20px 208px; /* тільки відступи зверху/збоку */

  @media screen and (min-width: 768px) {
    margin: 0 20px 20px 308px; /* тільки відступи зверху/збоку */
  }
}

.btnNewTask {
  position: fixed;
  top: 87px;
  width: 150px;

  width: 282px;
  height: 50px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.btnNewTask:hover,
.btnNewTask:focus {
  background-color: rgb(177, 217, 252);
}
