.pageWrapper {
  display: flex; /* ВАЖЛИВО: щоб фільтри і контент були поряд */
  align-items: flex-start;
}

.contentWrapper {
  flex-grow: 1; /* Займає весь доступний простір */
  margin: 0 0 0 193px; /* тільки відступи зверху/збоку */

  @media screen and (min-width: 768px) {
    margin: 0 0 20px 308px; /* тільки відступи зверху/збоку */
  }
}

.btns {
  position: fixed;
  top: 87px;
  width: 182px;

  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 282px;
  }
}

.btnNewTask {
  height: 50px;
  width: 155px;
  border: none;
  border-radius: 12px;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 222px;
  }
}

.btnNewTask:hover,
.btnNewTask:focus {
  background-color: rgb(177, 217, 252);
}
